:root {
  --dl-color-blue-50: rgba(239, 246, 255, 1);
  --dl-color-pink-50: rgba(254, 240, 250, 1);
  --dl-color-alert-50: rgba(254, 242, 242, 1);
  --dl-color-blue-100: rgba(219, 234, 254, 1);
  --dl-color-blue-200: rgba(190, 219, 255, 1);
  --dl-color-blue-400: rgba(79, 57, 246, 1);
  --dl-color-blue-800: rgba(28, 57, 142, 1);
  --dl-color-green-50: rgba(236, 253, 245, 1);
  --dl-color-pink-100: rgba(253, 205, 238, 1);
  --dl-color-pink-200: rgba(244, 122, 206, 1);
  --dl-color-pink-600: rgba(189, 15, 135, 1);
  --dl-color-pink-800: rgba(135, 0, 82, 1);
  --dl-color-alert-100: rgba(255, 226, 226, 1);
  --dl-color-alert-200: rgba(255, 201, 201, 1);
  --dl-color-alert-400: rgba(251, 44, 54, 1);
  --dl-color-alert-800: rgba(159, 7, 18, 1);
  --dl-color-blue-main: rgba(78, 42, 222, 1);
  --dl-color-green-100: rgba(208, 250, 229, 1);
  --dl-color-green-200: rgba(164, 244, 207, 1);
  --dl-color-green-400: rgba(0, 188, 125, 1);
  --dl-color-green-800: rgba(0, 112, 64, 1);
  --dl-color-pink-main: rgba(240, 66, 186, 1);
  --dl-color-purple-50: rgba(250, 245, 255, 1);
  --dl-color-yellow-50: rgba(253, 248, 230, 1);
  --dl-color-alert-main: rgba(231, 0, 11, 1);
  --dl-color-green-main: rgba(42, 163, 115, 1);
  --dl-color-purple-100: rgba(243, 232, 255, 1);
  --dl-color-purple-200: rgba(233, 212, 255, 1);
  --dl-color-purple-400: rgba(142, 59, 194, 1);
  --dl-color-purple-800: rgba(63, 0, 128, 1);
  --dl-color-yellow-100: rgba(254, 243, 198, 1);
  --dl-color-yellow-200: rgba(254, 230, 133, 1);
  --dl-color-yellow-400: rgba(255, 210, 48, 1);
  --dl-color-yellow-800: rgba(109, 62, 0, 1);
  --dl-color-neutral-100: rgba(234, 234, 234, 1);
  --dl-color-neutral-200: rgba(197, 198, 197, 1);
  --dl-color-neutral-400: rgba(146, 147, 146, 1);
  --dl-color-neutral-600: rgba(83, 85, 83, 1);
  --dl-color-purple-main: rgba(114, 10, 179, 1);
  --dl-color-yellow-main: rgba(237, 190, 14, 1);
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-neutral-black: rgba(44, 36, 30, 1);
  --dl-color-neutral-white: rgba(248, 249, 248, 1);
  --dl-color-theme-accent1: #FFFFFF;
  --dl-color-theme-accent2: #F5D1B0;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-default-grad02: rgba(28, 57, 142, 1);
  --dl-color-theme-primary1: #BF4408;
  --dl-color-theme-primary2: #E65103;
  --dl-layout-size-maxwidth: 1400px;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-theme-secondary1: #FFFFFF;
  --dl-color-theme-secondary2: #FBF1EB;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-layout-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #FBFAF9;
  --dl-layout-radius-imageradius: 8px;
  --dl-layout-radius-inputradius: 24px;
  --dl-layout-radius-buttonradius: 24px;
  --dl-color-default-dgradbleufonc: rgba(78, 42, 222, 1);
  --dl-color-default-gradbluestroke: rgba(190, 219, 255, 1);
  --dl-layout-space-oneandhalfunits: 24px;
  --dl-color-default-gradmulticoangular: rgba(240, 66, 186, 1);
  --dl-color-default-gradmulticoprotanopie: rgba(159, 159, 215, 1);
}
 
.button {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.textarea {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: none !important;
}
 
.thq-input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  outline: none;
  padding: 0.5rem 1rem;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-inputradius);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.thq-input:focus {
  outline: 1px solid var(--dl-color-theme-primary1);
}
 
.thq-button-filled {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.thq-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-outline {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-flat {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: transparent;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-flat:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
 
.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-body-large {
  font-size: 18px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-body-small {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
 
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-flex-column {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-flex-row {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
 
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-card {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-layout-radius-cardradius);
  flex-direction: column;
}
 
.thq-box-shadow {
  box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
}
 
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr;
}
 
.thq-checkbox {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-inputradius);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
 
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.thq-icon-small {
  width: 24px;
  height: 24px;
}
 
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: 3px;
  transition: 0.3s;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
 
.thq-icon-medium {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.thq-icon-x-small {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}
 
.thq-link:hover {
  background-position: 0 100%;
}
 
.thq-grid-auto-300 {
  display: grid;
  grid-gap: var(--dl-layout-space-oneandhalfunits);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.thq-animated-group-vertical-reverse {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-horizontal-reverse {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-vertical {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
 
.thq-animated-group-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
 
.thq-animated-group-container-vertical {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
 
.thq-animated-group-container-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
}
 
.thq-mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
}
 
.thq-mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
}
 
.thq-img-scale {
  transition: 0.3s;
}
 
.thq-img-scale:hover {
  scale: 1.05;
}
 
.thq-animated-card-bg-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent1);
}
 
.thq-animated-card-bg-2 {
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent2);
}
 
.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}
 
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
 
.thq-animated-group-container-vertical:hover div {
  animation-play-state: paused;
}
 
.thq-animated-group-container-horizontal:hover div {
  animation-play-state: paused;
}
 
.thq-animated-card-bg-2:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
}
 
.thq-animated-card-bg-1:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
 
.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-dark);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
 
.thq-button-animated:hover::before {
  color: var(--dl-color-theme-neutral-light);
  z-index: -1;
  transform: scaleX(1);
}
 
.textXlnormal {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBasebold {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlbold {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlthin {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlsemibold {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXssemibold {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsextrabold {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlextralight {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlblack {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgthin {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBaseextrabold {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlmedium {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlsemibold {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlbold {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmmedium {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlbold {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlextralight {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlthin {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmblack {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBasesemibold {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBasethin {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlnormal {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlmedium {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xllight {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXslight {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlnormal {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlsemibold {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgnormal {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlmedium {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlsemibold {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlextrabold {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlsemibold {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlsemibold {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlsemibold {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBaselight {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgsemibold {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmsemibold {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.text-8xlbold {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlmedium {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xllight {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlnormal {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlblack {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlextralight {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlsemibold {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlextrabold {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlextrabold {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlnormal {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlthin {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlblack {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlbold {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsthin {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmnormal {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXllight {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlextrabold {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlblack {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsmedium {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xllight {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlblack {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlmedium {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgblack {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlblack {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlblack {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlblack {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgextrabold {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlextralight {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlthin {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xllight {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlextrabold {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlnormal {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBasemedium {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlnormal {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xllight {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlthin {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xllight {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmlight {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlextrabold {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBasenormal {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmextralight {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlnormal {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsbold {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlmedium {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlextrabold {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLglight {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsextralight {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlbold {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBaseextralight {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgmedium {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlthin {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmextrabold {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlthin {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-9xlthin {
  font-size: 128px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsnormal {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xllight {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlblack {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xllight {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlextralight {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-4xlextralight {
  font-size: 36px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXsblack {
  font-size: 12px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlextralight {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlextralight {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlextrabold {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlsemibold {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlbold {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlnormal {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgbold {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-6xlextralight {
  font-size: 60px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlextrabold {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-5xlbold {
  font-size: 48px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textLgextralight {
  font-size: 18px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmbold {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-3xlmedium {
  font-size: 30px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-2xlthin {
  font-size: 24px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-7xlbold {
  font-size: 72px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.text-8xlmedium {
  font-size: 96px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textSmthin {
  font-size: 14px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textXlmedium {
  font-size: 20px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
}
 
.textBaseblack {
  font-size: 16px;
  font-style: normal;
  font-family: Atkinson Hyperlegible;
  font-weight: 700px;
  font-stretch: normal;
  letter-spacing: 0px;
}
